.heroContainer {
    background-color: #181a1e;
    display: flex;
    padding: 128px 0px;
    padding-bottom: 84px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px;
    align-self: stretch;
    width: 100%;
}

.overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    width: calc(100% - 32px * 2);
    padding: 0 32px;
}

.overviewTextContent {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.overviewTextContent h1 {
    color: #fff;
    text-align: center;
    font-family: Franklin Gothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.overviewTextContent p {
    color: #ffffff;
    text-align: center;
    font-family: Cantarell;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}

.goHomeLink {
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    display: flex;
}
