html,
body {
    background-color: #181a1e;
    margin: 0%;
    font-family:
        Cantarell,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family:
        'Franklin Gothic',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

#Main1Holder {
    height: 100vh;
}

#Main1 {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    background-color: #1e2129;
    background-image: url('/assets/WalkingSteadImg.png');
    background-size: cover;
    position: fixed;
    z-index: 0;
}

#Main1Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#NameHeader {
    color: #ffffff;
    text-align: center;
    font-family: Franklin Gothic;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.MainSubtext {
    color: #ffffff;
    text-align: center;
    font-family: Cantarell;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}

.IconButtons {
    background: none;
}

.IconLinks {
    width: 28px;
    height: 28px;
    background: none;
}

#IconButtonHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.header {
    display: flex;
    height: 72px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.header.filled::before {
    transform: translateY(0px);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}

#headerCenter {
    display: flex;
    align-items: center;
    gap: 50px;
    align-self: stretch;
}

#HeaderButtons {
    color: #fff;
    text-align: center;
    font-family: Cantarell;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

#HeaderTitle {
    color: #fff;
    text-align: center;
    font-family: Franklin Gothic;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#HeaderSpacer {
    width: 90px;
}

#HeaderBottom {
    height: 72px;
}

#Main2 {
    background-color: #465a81;
    display: flex;
    padding: 128px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    position: sticky;
    background:
        linear-gradient(180deg, rgba(24, 26, 30, 0) 0%, #181a1e 100%),
        url('/assets/Main2BG.png/'),
        rgb(255, 255, 255) 50% / cover no-repeat;
    background-size: 110%;
}

#Main2Header {
    display: flex;
    width: 600px;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.MainHeading {
    color: #fff;
    text-align: center;
    font-family: Franklin Gothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

#Main2Content {
    display: flex;
    width: 100%;
    max-width: 1600px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.skillsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    /* width: 375px; */
    /* height: 340px; */
    min-width: 375px;
}

.skillsItemHeader {
    color: #fff;
    text-align: center;
    font-family: Franklin Gothic;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.skillsImage {
    height: 150px;
    width: 150px;
}

#Main3 {
    background-color: #181a1e;
    display: flex;
    padding: 128px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px;
    align-self: stretch;
    position: sticky;
}

#portfolioHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 782px;
    height: 636px;
    gap: 48px;
}

#portfolioHeaderText {
    display: flex;
    width: 550px;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.PortfolioContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;
}

.PortfolioItem {
    display: flex;
    width: 500px;
    height: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(
            155deg,
            rgba(10, 11, 14, 0.3) 8.4%,
            #111418 76.57%
        ),
        rgba(0, 0, 0, 0.3);
}

.PortfolioItemHeader {
    color: #fff;
    text-align: center;
    font-family: Franklin Gothic;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.PortfolioItemImageHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    align-self: stretch;
}

.PortfolioItemImage {
    height: 330px;
    align-self: stretch;
    border-radius: 10px;
}

.PortfolioItemImageSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.ellipse {
    height: 16px;
    width: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    stroke-width: 1px;
    stroke: rgba(99, 99, 99, 0.5);
}

.PortfolioItemContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.PortfolioItemContentSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.PortfolioItemContentSectionHeaderHolder {
    display: flex;
    align-items: center;
    gap: 8px;
}

.PortfolioItemContentSectionHeadertext {
    color: #fff;
    text-align: center;
    font-family: Cantarell;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.PortfolioItemText {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-family: Cantarell;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0%;
}

.PortfolioItemRoleText {
    color: rgba(255, 255, 255, 0.75);
    text-align: right;
    font-family: Cantarell;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 56px;
    flex: 1 0 0;
    margin: 0%;
}

.PortfolioItemDescriptionHolder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    margin: 0%;
}

.PortfolioItemDescriptionText {
    color: rgba(255, 255, 255, 0.8);
    font-family: Cantarell;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 186px;
    align-self: stretch;
    margin: 0%;
}

.PortfolioReadMoreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: #ffffff;
    text-decoration: none;
    margin: 0%;
}

.VideoEmbed {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16 /9;
    max-width: 800px;
}
.VideoEmbed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.about {
    display: flex;
    padding: 64px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    align-self: stretch;
    position: sticky;
    background: linear-gradient(180deg, #181a1e 0%, #363d4a 96.35%);
    padding: 0 48px;
}

#Main4Header {
    display: flex;
    padding: 6px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#Main4HeaderText {
    color: #fff;
    text-align: center;
    font-family: Franklin Gothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0%;
}

#Main4Content {
    display: flex;
    max-width: 1200px;
    padding: 24px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 10px;
    background: linear-gradient(
        155deg,
        rgba(10, 11, 14, 0.3) 8.4%,
        #111418 76.57%
    );
    width: calc(100% - 24px * 2);
}

#AboutMeNumbersHolder {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.AboutMeNumbers {
    color: #a1c2a8;
    text-align: right;
    font-family: JetBrains-mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

#LineHolder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: auto;
    scrollbar-width: thin;
    width: 100%;
}

.line {
    display: flex;
    align-items: flex-start;
    margin: 0%;
    white-space: nowrap;
}

.funcColapse {
    display: flex;
    width: 23px;
    height: 23px;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.AboutmeText {
    color: #d9cb8e;
    text-align: right;
    font-family: JetBrains-mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.AboutmeTextVar {
    color: #df6577;
    text-align: right;
    font-family: JetBrains-mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

#AboutmeExtends {
    color: #79d5ba;
    text-align: right;
    font-family: JetBrains-mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.AboutmeVarName {
    color: #cdced2;
    text-align: right;
    font-family: JetBrains-mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.AboutMeSymbols {
    color: #a5c3f6;
    text-align: right;
    font-family: JetBrains-mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.AboutMeFunctionName {
    color: #5ac6dd;
    text-align: right;
    font-family: JetBrains-mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.AboutMeFuncColapse {
    display: flex;
}

#divtest {
    background-color: #5ac6dd;
    height: 10px;
    width: 10px;
}

#FuncDownArrow {
    display: flex;
    height: 23px;
    width: 23px;
    align-items: center;
}

#GodotIndent {
    display: flex;
    width: 50px;
    gap: 10px;
}

#GodotIndentDiv {
    display: flex;
    align-items: center;
    height: 23px;
}

#GodotPrint {
    color: #9191d8;
    text-align: right;
    font-family: JetBrains-mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

#GodotEyeDiv {
    display: flex;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    flex: 1 0 0;
    margin: 0;
}

#ContactDropDownArrowDiv {
    display: flex;
    width: 48px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#DownArrow {
    transform: rotate(-90deg);
}
