.Main1 {
    height: 80vh;
    width: calc(100% - 16px * 2);
    padding: 0px 16px;
    background-image: linear-gradient(
            180deg,
            rgba(24, 26, 30, 0) 0%,
            #181a1e 100%
        ),
        white;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
}

.Main1Holder {
    display: flex;
    max-width: 900px;
    width: 100%;
    padding: 32px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 36px;
    align-self: stretch;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.TitleHolder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 14px;
}

.TitleText {
    color: #fff;
    font-family: Franklin Gothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0%;
}

.Description {
    color: #fff;
    font-family: Cantarell;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0%;
}

.MainContent {
    display: flex;
    padding-bottom: 64px;
    flex-direction: column;
    gap: 36px;
    width: calc(100% - 16px * 2);
    padding: 64px 16px;
    padding-top: 16px;
    max-width: 900px;
    color: #fff;
    text-align: justify;
    font-family: Cantarell;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.MainContent p {
    margin: 0;
}

.MainContent img {
    width: 100%;
    border-radius: 12px;
    transition: box-shadow 0.15s ease-in;
    cursor: pointer;
}

.MainContent img:hover {
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.25);
}

.PortfolioItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LargeImage {
    border-radius: 16px;
    max-width: 900px;
    width: 100%;
    max-height: 540px;
    height: 100%;
}

.ImageDialog[open] {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #181a1e;
    padding: 0;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    max-width: 80vw;
}

.ImageDialog img {
    max-width: 100%;
}

.ImageDialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}

.ImageDialogClose {
    background-color: transparent;
    border: none;
    padding: 10px;
    height: 48px;
    width: 48px;
    transition: opacity 0.15s ease-in;
    align-items: center;
    justify-content: center;
    display: flex;
}

.ImageDialogClose:hover {
    opacity: 0.5;
}
