.Main1 {
    height: 80vh;
    width: calc(100% - 16px * 2);
    padding: 0px 16px;
    background-image: linear-gradient(
            180deg,
            rgba(24, 26, 30, 0) 0%,
            #181a1e 100%
        ),
        url('/assets/Main2BG.webp');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
}

.Main1Holder {
    display: flex;
    max-width: 900px;
    width: 100%;
    padding: 32px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 36px;
    align-self: stretch;
}

.TitleHolder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 14px;
}

.TitleText {
    color: #fff;
    font-family: Franklin Gothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0%;
}

.Description {
    color: #fff;
    font-family: Cantarell;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0%;
}

.MainContent {
    display: flex;
    padding-bottom: 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    align-self: stretch;
}

.PortfolioItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MaincontentText {
    color: #fff;
    text-align: justify;
    font-family: Cantarell;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    max-width: 900px;
    width: 100%;
}

.LargeImage {
    border-radius: 16px;
    max-width: 900px;
    width: 100%;
    max-height: 540px;
    height: 100%;
}
