#header {
    display: flex;
    height: 72px;
    padding: 0px 156px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-bottom: 1px solid rgba(122, 122, 122, 0.2);
    background: #181a1e;
}

#Title {
    color: #fff;
    text-align: center;
    font-family: Franklin Gothic;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Items {
    color: #fff;
    text-align: center;
    font-family: Cantarell;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
